.guides{
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
}

.leftG{
    flex: 0.4;

    width: 100%;
    height: 100%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10%;
    align-items: center;


    h1{
        font-family: Playfair Display;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
    }

    p{
        font-family: Mulish;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    a{
        background: #FB8F1D;
        border-radius: 8px;
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 60px;
        width: 164px;
        height: 60px;
        padding: 8px 20px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 10px;
    }
}

.rightG{
        flex: 0.6;
        position: relative;

        .imageContainer{
            width: 659px;
            height: 534px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            overflow: hidden;




            img{
                height: 60%;
            }
        }
}