.hero{
    background-color: azure;
    .search{
        // background-color: red;
        display: flex;
        justify-content: center;
        padding: 10px;

        input{
            width: 60%;
            padding: 20px;
            padding-left: 5%;
            border-radius: 25px;
            border: .2px solid #FB8F1D;
            // -webkit-box-shadow: 0px 0px 24px 0px rgba(7, 214, 93, 0.88); 
            // box-shadow: 0px 0px 24px 0px rgba(4, 218, 111, 0.88);
            -webkit-box-shadow: -1px 3px 16px 5px rgba(104, 102, 102, 0.2); 
            box-shadow: -1px 3px 16px 5px rgba(202, 202, 202, 0.2);
            outline: none;
            position: relative;
            font-size: 20px;
            color: #FB8F1D;
        }
        .search-btn{
            position: absolute;
            margin-right: 53%;
            margin-top: 20px;
            font-size: 30px;
            color: rgba(4, 218, 111, 0.88);
            color: #FB8F1D;
        }
    }
}

.home1{
    background-color: azure;
    display: flex;

    .leftH{
        flex: 0.5;
        // overflow: hidden;
        position: relative;

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 100px;
            display: flex;
            flex-direction: column;
            
            justify-content: center;
            h1{
                text-align: center;
                font-size: 60px;
                
            }
            h2{
                text-align: center;
                span{
                    font-size: inherit;
                    
                    color: #FB8F1D;
                }
            }
        }
    }
    .rightH{
        flex: 0.5;
        overflow: hidden;

        .imageContainer{
            width: 687px;
            height: 654px;
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;

            img{
                height: 60%;
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;
            img{
                width: 40px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}